<!DOCTYPE html>
<html lang="en">
  <head>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" "jquery-countdown" ></script>
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/c/video.js"></script>
  </head>
  <body>
    <div id="students">
        <div id="redcircle">
            <table>
              <tr>
                <td width="37%">
                <h2><strong><%= @user.firstname %></strong> | Log Out<h2>
                </td>
              </tr>
              <tr class="spacer">
                <td style="padding-top:5%">
                  <% if @user.icon_filename != nil %>
                    <%= image_tag("/assets/avatar/" + @user.icon_filename + ".png", :style => "height:300px; width:120px") %>
                    <% else %>Choose an Avatar!
                  <% end %>
                </td>
                <td valign="top">
                  <h4>MY DASHBOARD</h4>
                  <p><h5>Sport: <font color="black" style="normal"><%= UserSportPreference.find_by_user_id(current_user.id).sport.name %></font></h5></p>
                  <p><h5>Level: <font color="black" style="normal"><% if @team != nil %><%= @team.sport_level.name %><% else %>0<% end %></font></h5></p>
                  <p><h5>Weekly Tip: <font color="black" style="normal"><%= render '/sport_levels/guidence'%></font></h5></p>
                  <p><h5>TAG Steps: <font color="black" style="normal"><%= UserPoint.find_by_user_id(current_user.id).point_step %></font></h5></p>
                  <br>
                  <p><h5><%= render '/teams/team_information'%>
                  </br>
                  <%= link_to "level up in your sport »", '/teams/levelup', :class => 'button' %></h5>
                </td>
              </tr>
            </table>
	      </div>
        <div id="stu_menu1"><a href="/pe_classes">MY CLASS</a></div>
        <div id="stu_menu2"><a href="/trainers">MY MENTORS</a></div>
        <div id="stu_menu3"><a href="/funs/fun_list">EVENTS</a></div>
        <div id="gallery">
          <div align="center" id="gallery_frame"><h6>TEAM GOAL PROGRESS</h6>
            <%= @user_points %>
                <p>Team Goal Achievement</p>
                  <% percentage = number_to_percentage((UserPoint.find_by_user_id(current_user.id).point_step.to_f / @user.step)*100) %>
                  <div class="progress active">
                    <div class="bar" style="width: <%= percentage %>%; float:left;"></div>
                </div>
          <div id="teammate_avatar" style="float:left">
            <%= image_tag("/assets/avatar/" + @teammate.icon_filename + ".png", :style => "height:280px") %></div>
          <div width="35%" style="text-align:left; text-transform:capitalize">
            <p>MY TEAMMATE: <%= @teammate.firstname %> <%= @teammate.lastname %>
              </p>
            <p>Team Sport: <%= @team.sport.name %> </p>
            <p>Team Score: </p>
            <p>Class Score: <%= TeamPoint.sum(:point_of_week) %> Points!</p> 
              <table align="center" style="margin:0px" >
                <tr>
                  <td>
                     <%= link_to "check my stats »", '/team_points/point_list', :class => 'button' %>
                  </td>
                  <td style="padding:10px;">
                     <%= link_to "view class playlist »", '', :class => 'button' %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
