<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
        .span2 {
          visibility: hidden;
        }
    </style>
  </head>
  <body>
    <%= form_tag('/teams/search_team') do %>
    <div class="content" align="center">
      <div class="row">
        <h2>Choose a sport</h2>
        <div align="center">
          <%= image_submit_tag "sport/baseball.png", :name => "commit", :value => "1", :style => "height:90px; width:90px;" %>
          <%= image_submit_tag "sport/basketball.png", :name => "commit", :value => "2", :style => "height:90px; width:90px;" %>
          <%= image_submit_tag "sport/football.png", :name => "commit", :value => "3", :style => "height:90px; width:90px;" %>
          <%= image_submit_tag "sport/soccer.png", :name => "commit", :value => "4", :style => "height:90px; width:90px;" %>
          <%= image_submit_tag "sport/dance.png", :name => "commit", :value => "5", :style => "height:90px; width:90px;" %>
          <%= image_submit_tag "sport/karate.png", :name => "commit", :value => "6", :style => "height:90px; width:90px;" %>
        </div>
      </div>
      <div class="row">
        <h2>Choose a level</h2>
        <%= select_tag(:level_id, options_for_select(@levels.collect {|level| [level.name, level.id]})) %></br>  
        <%= submit_tag "select", :class => 'btn', :name => "commit", :value => "select" %>
      </div>
      <div class="row">
        <h2>Show teams</h2>
        <div>
          <% if @teams != nil %>
            <h4>Same sport & level</h4>
            <% @teams.each do |team| %>
              Name: <%= team.name %><br>
              Sport: <%= team.sport.name %><br>
              Level: <%= team.level.name %><br>
              <%= image_tag("/assets/avatar/" + Teammember.find_by_team_id(team.id).user.icon_filename + ".png", :style => "height:120px") %><br>
              Gender: <%= Teammember.find_by_team_id(team.id).user.gender %><br>
              <%= submit_tag "Join", :class => 'btn', :name => "join[#{team.id}]" %><br>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if flash[:notice_search_result] or @teams1 == nil %>
            <% if flash[:notice_search_result] %>
              <div class="alert alert-error">
                <%= flash[:notice_search_result] %> 
              </div>
            <% end %>
          <% else %>
            <h4>same sport</h4>
            <% @teams1.each do |team| %>
              Name: <%= team.name %><br>
              Sport: <%= team.sport.name %><br>
              Level: <%= team.level.name %><br>
              <%= image_tag("/assets/avatar/" + Teammember.find_by_team_id(team.id).user.icon_filename + ".png", :style => "height:120px") %><br>
              Gender : <%= Teammember.find_by_team_id(team.id).user.gender %><br>
              <%= submit_tag "Join", :class => 'btn', :name => "join[#{team.id}]" %><br>
            <% end %>
          <% end %>
          <strong><%= link_to "Or create your own team!", '/teams/new' %></strong><br>
          <%= submit_tag "next", :class => 'btn', :name => "commit", :value => "next" %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
