<h1>Welcome Home!</h1>

    <div>
    <%= link_to "Team", '/teams/home' %>
    <%= link_to "Fun", '/funs/home' %>
    <%= link_to "Video", '' %>
    <%= link_to "Class", '/pe_classes/home' %>
    <%= link_to "Tool", '' %>
    <%= link_to "Game", '' %>
    <%= link_to "Profile", '/users/profile' %></div>
