<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pe_class.name %>
</p>

<p>
  <b>Datetime:</b>
  <%= @pe_class.datetime %>
</p>

<p>
  <b>school_id:</b>
  <%= @pe_class.school_id %>
</p>

<p>
  <b>teacher_id:</b>
  <%= @pe_class.teacher_id %>
</p>


<%= link_to 'Edit', edit_pe_class_path(@pe_class) %> |
<%= link_to 'Back', pe_classes_path %>
