<!DOCTYPE html>
<html lang="en">
  <head>
    <%= javascript_include_tag "application" %>

  </head>
  <body> 
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li <% if @select_trainer == nil %> class="active" <% end %>><a href="#tab1" data-toggle="tab">Trainers</a></li>

        <li <% if @select_trainer != nil %> class="active" <% end %>><a href="#tab2" data-toggle="tab">Compose</a></li>

        <li><a href="#tab3" data-toggle="tab">Inbox</a></li>
        <li><a href="#tab4" data-toggle="tab">Sentbox</a></li>
      </ul>


      <div class="tab-content" style="overflow: visible;">
        <div  <% if @select_trainer != nil %> class="tab-pane" <% else %> class="tab-pane active" <% end %> id="tab1"><br><br><br><p><%= render '/trainers/trainer_list' %></p></div>

        <div <% if @select_trainer != nil %> class="tab-pane active" <% else %> class="tab-pane" <% end %> id="tab2"><br><br><br><p><%= render '/mentor_messages/form' %></p></div>

        <div class="tab-pane" id="tab3"><br><br><br><p><%= render '/mentor_messages/inbox_list' %></p></div>
        <div class="tab-pane" id="tab4"><br><br><br><p><%= render '/mentor_messages/sentbox_list' %></p></div>
      </div>
    </div>
  </body>
</html>
